<div>
    <a asp-action="ChooseClients">Зарплатный проект</a>
</div>
  <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>