@model BankApp.ViewModels.AddingGettingMoney;
<form asp-action="AddSum" method="post">
   <div >
        <label asp-for="Money">Деньги</label>
        <input asp-for="Money" />
        
    </div>
    <button type="submit">OK</button>

</form>