@model BankApp.ViewModels.AddingGettingMoney
<form asp-action="GetSum" method="post">
   <div >
        <label asp-for="Money">Money</label>
        <input type="text" asp-for="Money" />
        
    </div>
    <button type="submit">OK</button>

</form>